html {
    background-color: black;
}
.container {  
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . ."
      ". . . . . . . .";
  }
  

.grid-location {
    background-color: rgb(43, 43, 43);
    border: 1px solid black;
}

.body-location {
    background-color: green;
}

.food {
    background-color: orange;
}

.snakeHead {
    background-color: rgb(0, 83, 0);
}
