:root {
    --foreground: rgba(34, 51, 34, 1);
    --background: rgba(143, 179, 145, 1);
    --snakeHead: url(./images/head.png);
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0 0 10px #bd7f7f2d, 0 0 20px #00310731, 0 0 42px rgba(0, 44, 4, 0.212), 0 0 82px rgba(0, 0, 0, 0.151), 0 0 92px rgba(0, 0, 0, 0.26);
    
}

html {
    background-color: rgb(26, 26, 26);
}

/* Div holding container and header */
.mainDiv {
    background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5),
            rgba(127, 127, 127, 0.5) 30%,
            rgba(0, 0, 0, 0.7) 150%);
    background-color: var(--background);
    width: 500px;
    margin: 15px auto;
    border: 2px solid var(--foreground);
    border-radius: 10px;
}

/* Div for the actual grid */
.container {
    padding: 2px;
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . .";
}

/* Styling for the food */
.food {
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: none;
    filter: drop-shadow(1px 3px 5px rgba(0,0,0,0.30));
}

/* SNAKE STYLING =============================================*/

/* Styling for the snake*/
.snake {
    background-color: var(--foreground);
    border-radius: 10px;
    background-position: center;
    background-size: 63px;
    box-shadow: 1px -2px 28px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px -2px 28px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px -2px 28px -6px rgba(0, 0, 0, 0.75);
}

.snakeHead_up {
    background-color: transparent;
    background-image: var(--snakeHead);
    transform: rotate(0deg);
    box-shadow:none;
    filter: drop-shadow(1px 3px 5px rgba(0,0,0,0.55));
}

.snakeHead_down {
    background-color: transparent;
    background-image: var(--snakeHead);
    transform: rotate(180deg);
    box-shadow:none;
    filter: drop-shadow(1px 3px 5px rgba(0,0,0,0.55));
}

.snakeHead_left {
    background-color: transparent;
    background-image: var(--snakeHead);
    transform: rotate(-90deg);
    box-shadow:none;
    filter: drop-shadow(1px 3px 5px rgba(0,0,0,0.55));
}

.snakeHead_right {
    background-color: transparent;
    background-image: var(--snakeHead);
    transform: rotate(90deg);
    box-shadow:none;
    filter: drop-shadow(1px 3px 5px rgba(0,0,0,0.55));
}

.tail {
    background-color: rgba(34, 51, 34, 0.5);
    background-image: url(./images/tail.png);
    background-size: 120px;
    border: 2px solid var(--foreground);
}

/* ========================================== SNAKE STYLING */

/* Styling for the points div */
.info {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    color: var(--foreground);
    font-weight: bold;
    font-size: 15px;
}

/* Score value styling*/
.player-score {
    display: flex;
    color: var(--foreground);
}

.refreshHighScore {
    position: absolute;
    top: 3px;
    right: 232px;
    font-size: 23px;
    padding-right: 10px;
    color: rgba(34, 51, 34, 0.493);
    transition: color 0.15s;
}

.refreshHighScore:hover {
    color: var(--foreground);
    cursor: pointer;
}

.high-score {
    display: flex;
    color: var(--foreground);
}

/* Separator for points and game  */
.line {
    margin: auto;
    width: 90%;
    border-bottom: 2px solid var(--foreground);
    filter: drop-shadow(1px 3px 5px rgba(0,0,0,0.55));
}

#title-area {
    display: flex;
    justify-content: center;
}

#title {
    padding: 20px;
    color: var(--foreground);
}

.created {
    font-size: 10px;
    display: flex;
    justify-content: center;
    color: rgba(128, 128, 128, 0.507);
}

/* Debugging class */
.debug {
    border: 2px solid red;
}