* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 10px #bd7f7f2d, 0 0 20px #00310731, 0 0 42px rgba(0, 44, 4, 0.212), 0 0 82px rgba(0, 0, 0, 0.151),0 0 92px rgba(0, 0, 0, 0.26);
}

html {
    background-color: rgb(26, 26, 26);
}

/* Div holding container and header */
.mainDiv {
    background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5),
            rgba(127, 127, 127, 0.5) 30%,
            rgba(0, 0, 0, 0.7) 150%);
    background-color: rgba(143, 179, 145, 255);
    width: 500px;
    margin: 0 auto;
    border: 2px solid rgba(34, 51, 34, 255);
}

/* Div for the actual grid */
.container {
    padding: 2px;
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . .";
}

/* Dead */
.grid-location {
    /* background-color: rgba(143,179,145,255); */
    /* border: 1px solid black; */
}

/* Dead */
.body-location {
    background-color: rgba(20, 37, 27, 255);
}

/* Styling for the food */
.food {
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/images/cherry-icon-old.png);
}

/* Styling for the snake ALTER NAME*/
.snakeHead {
    background-color: rgba(34, 51, 34, 255);
    border-radius: 8px;
}

/* Styling for the points div */
.info {
    display: flex;
    padding: 10px 25px;
    color: rgba(20, 37, 27, 255);
    font-weight: bold;
    font-size: 20px;
}

/* Separator for points and game  */
.line {
    margin: auto;
    width: 90%;
    border-bottom: 2px solid rgba(34, 51, 34, 255);
}

/* Score value styling */
#score {
    /* color: white; */
    padding-left: 15px;
}