* {
    padding: 0px;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0 0 10px #bd7f7f2d, 0 0 20px #00310731, 0 0 42px rgba(0, 44, 4, 0.212), 0 0 82px rgba(0, 0, 0, 0.151),0 0 92px rgba(0, 0, 0, 0.26);
}

html {
    background-color: rgb(26, 26, 26);
}

/* Div holding container and header */
.mainDiv {
    background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5),
            rgba(127, 127, 127, 0.5) 30%,
            rgba(0, 0, 0, 0.7) 150%);
    background-color: rgba(143, 179, 145, 255);
    width: 500px;
    margin: 15px auto;
    border: 2px solid rgba(34, 51, 34, 255);
    border-radius: 10px;
}

/* Div for the actual grid */
.container {
    padding: 2px;
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . .";
}

/* Dead */
.grid-location {
    /* background-color: rgba(143,179,145,255); */
    /* border: 1px solid black; */
}

/* Dead */
.body-location {
    background-color: rgba(20, 37, 27, 255);
}

/* Styling for the food */
.food {
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/images/cherry-icon-old.png);
}

/* SNAKE STYLING =============================================*/

/* Styling for the snake*/
.snake {
    background-color: rgba(34, 51, 34, 255);
    border-radius: 8px;

}
.snakeHead_neutral {
    background-color: transparent;
    background-size: 65px;
    background-image: url(/images/head.png);
}
.snakeHead_up {
    background-color: transparent;
    background-size: 65px;
    background-image: url(/images/head.png);
    transform: rotate(0deg);
}
.snakeHead_down {
    background-color: transparent;
    background-size: 65px;
    background-image: url(/images/head.png);
    transform: rotate(180deg);
}
.snakeHead_left {
    background-color: transparent;
    background-size: 65px;
    background-image: url(/images/head.png);
    transform: rotate(-90deg);
}

.snakeHead_right {
    background-color: transparent;
    background-size: 65px;
    background-image: url(/images/head.png);
    transform: rotate(90deg);
}

/* ========================================== SNAKE STYLING */

/* Styling for the points div */
.info {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    color: rgba(34, 51, 34, 255);
    font-weight: bold;
    font-size: 15px;
}

/* Score value styling*/
.player-score {
    display: flex;
    color: rgba(34, 51, 34, 255);
}

.high-score {
    display: flex;
    color: rgba(34, 51, 34, 255);
}

/* Separator for points and game  */
.line {
    margin: auto;
    width: 90%;
    border-bottom: 2px solid rgba(34, 51, 34, 255);
}

#title-area {
    display: flex;
    justify-content: center;
}

#title {
    padding: 20px;
    color: rgba(34, 51, 34, 255);
}

.created {
    display: flex;
    justify-content: center;
}

.debug {
    border: 1px solid red;
}






/* OLD */
/* .snakeHead_neutral {
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/images/eyes.png);
}
.snakeHead_up {
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(/images/eyes.png);
    transform: rotate(0deg);
}
.snakeHead_down {
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(/images/eyes.png);
    transform: rotate(180deg);
}
.snakeHead_left {
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(/images/eyes.png);
    transform: rotate(-90deg);
}

.snakeHead_right {
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: url(/images/eyes.png);
    transform: rotate(90deg);
} */